<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>404 - Dolphin</title>
</head>

<body>
    <section class="hero is-dark is-fullheight">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    404
                </h1>
                <h1 class="subtitle">
                    The page you were looking for could not be found!
                </h1>
                <figure class="image is-256x256">
                    <img class="is-rounded" src="https://random.dog/00564ba3-e5cb-4b2b-8d97-c65a9ef26c23.png">
                </figure>
            </div>
        </div>
    </section>
</body>

</html>