<!DOCTYPE html>
<html lang="en">

<head style="overflow: hidden; max-height: 100%;">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC" rel="stylesheet">
    <title>Login - Dolphin</title>
    <link rel="stylesheet" href="/css/auth.css">
</head>


<body id="body">
    <h1 class="title">
        Login
    </h1>
    <div class="form login">
        <div>
            <div class="label">Username</div>
            <p>
                <input class="input" type="text" placeholder="Username" id="username_input">
            </p>
        </div>
        <div>
            <div class="label">Password</div>
            <p>
                <input class="input" type="password" placeholder="Password" id="password_input">
            </p>
        </div>
        <div>
            <button type="submit" class="button" onclick="onFormSubmit()">
                Login
            </button>
            <a href="/signup">Don't have a account?</a>
        </div>
    </div>
    <script src="/js/login.js"></script>
</body>

</html>